In [ ]:
import pandas as pd
data = pd.read_csv("thanksgiving.csv", encoding = "Latin-1")
#print(data.head())

In [140]:
#print(data.columns)

In [141]:
yes_no = data["Do you celebrate Thanksgiving?"].value_counts()
#print(yes_no)

data = data[data["Do you celebrate Thanksgiving?"]=='Yes']
#data["Do you celebrate Thanksgiving?"].value_counts()

In [142]:
data["What is typically the main dish at your Thanksgiving dinner?"].value_counts()

data2 = data[data["What is typically the main dish at your Thanksgiving dinner?"] == 'Tofurkey']
#print(data2["Do you typically have gravy?"])

In [143]:
apple_isnull = data["Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Apple"].isnull()
#print(apple_isnull)
pumpkin_isnull  = data["Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pumpkin"].isnull()
pecan_isnull = data["Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pecan"].isnull()
ate_pies = (apple_isnull) & (pumpkin_isnull) & (pecan_isnull)
ate_pies.value_counts()

False    876
True     104
dtype: int64

In [144]:
def extract_age(ageIn):
    if pd.isnull(ageIn):
        return None
    ageIn = ageIn.split(" ")[0]
    ageIn = ageIn.replace("+", "")
    return int(ageIn)

data["int_age"] = data["Age"].apply(extract_age)
data["int_age"].describe()

count    947.000000
mean      40.089757
std       15.352014
min       18.000000
25%       30.000000
50%       45.000000
75%       60.000000
max       60.000000
Name: int_age, dtype: float64

In [145]:
def extract_earnings(earn):
    if pd.isnull(earn):
        return None
    if earn.startswith("Prefer"):
        return None
    earn = earn.split(" ")[0]
    earn = earn.replace("$", "")
    earn = earn.replace(",", "")
    return int(earn)

data["int_income"] = data["How much total combined money did all members of your HOUSEHOLD earn last year?"].apply(extract_earnings)
#print(data["int_income"].describe())

In [146]:
#print(data[data["int_income"] < 150000]["How far will you travel for Thanksgiving?"].value_counts())
#print(data[data["int_income"] > 150000]["How far will you travel for Thanksgiving?"].value_counts())

In [147]:
data.pivot_table(index = "Have you ever tried to meet up with hometown friends on Thanksgiving night?", columns = 'Have you ever attended a "Friendsgiving?"', values = "int_age")

Have you ever attended a "Friendsgiving?"                  No        Yes
Have you ever tried to meet up with hometown fr...
No                                                  42.283702  37.010526
Yes                                                 41.475410  33.976744

In [148]:
data.pivot_table(index = "Have you ever tried to meet up with hometown friends on Thanksgiving night?", columns = 'Have you ever attended a "Friendsgiving?"', values = "int_income")

Have you ever attended a "Friendsgiving?"                     No           Yes
Have you ever tried to meet up with hometown fr...
No                                                  78914.549654  72894.736842
Yes                                                 78750.000000  66019.736842